html,body{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}
#sidebar
{
    /* background-color: rgb(244, 136, 136) !important; */
    background-color: #e81e68db !important;
    color: rgb(255, 255, 255);
    /* height: 100vh; */
}
.mynav{
    color: #fff;
}

.mynav li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.mynav li a.active{
    background: rgba(255,255,255,0.2);
}

.mynav li a:hover{
    background: rgba(255,255,255,0.2);
}

.mynav li a i{
    width: 25px;
    text-align: center;
}

.notification-badge{
    background-color: rgba(255,255,255,0.7);
    float: right;
    color: #222;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 2px;
}
.card-img, .card-img-top {
    height: 100px;
    width: 100px;
}
.card
{
    
    padding: 0;
    align-items: center;
}
@media (min-width: 319px)and (max-width: 768px)
{
    *
    {
        font-size: small;
    }
    #profileimg
    {
        width:35px;
        height: 35px;
    }
    .mynav li a {
        padding: 5px 3px;
    }
    
}
