<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="fcss.css"> 
    <title> Homepage</title>
</head>
<body>
      <!-- feature addition 
      <div id="features">
        <h2 style="text-align: center;">OUR FEATURES</h2>
        <div class="row">
                <div class="feature-1">
                    <h4>Budget Alerts and Notifications</h4>
                    <p>Receive timely alerts and notifications when approaching or exceeding budget limits</p>
                </div>
                <div class="feature-2">
                    <h4>User Frinedly Interface</h4>
                    <p>With an intuitive interface, users can effortlessly navigate through the application, making the process of recording expenses and managing finances both efficient and enjoyable.</p>
                </div>
                <div class="feature-3">
                    <h4>Receipt Capture</h4>
                    <p>Say goodbye to paper clutter. The expense tracker simplifies the record-keeping process by enabling users to capture receipts using their device's camera.</p>
                </div>
    </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="aboutuuscss.css"> 
    <title> Homepage</title>
</head>
<body>
      <!-- About us-->
<section class="aboutus">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <div class="aboutus-content">
            <h2>Welcome To Our Website</h2>
            <p>Welcome to Budegt Buddy, where financial empowerment 
               meets seamless budget management. Founded with the
               vision of simplifying personal and business finances,
               we are committed to providing you with an intuitive, 
               user-friendly platform.</p>
                
            <button class="cta-button">Learn More</button>
        </div>
        <div class="aboutus-img">
            <img src="D:/Abisini intern codes/homepage/aboutus1.jpg">
        </div>
    </div>
   
</section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>